* {
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
	line-height: 100%;
}
body, html {
	height: 100%;
	width: 100%;
	cursor: default;
	font-family: system-ui;
	color: var(--materialize-color);
	background-color: white;
	overflow: hidden;
}
template {
	display: none !important;
}
table {
	height: 100%;
	width: 100%;
	table-layout: fixed;
}
td {
	position: relative;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
::placeholder {
	opacity: 0.5;
	color: inherit;
}
::-webkit-scrollbar {
	display: none;
}
.material-icons {
	font-size: var(--sui-icon-size);
	max-width: 1em;
	min-width: 1em;
	box-sizing: content-box;
	display: flex;
	justify-content: center;
	align-items: center;
}
.mr {
	margin-right: var(--sui-spacing);
}
.ml {
	margin-left: var(--sui-spacing);
}
.mt {
	margin-top: var(--sui-spacing);
}
.mb {
	margin-bottom: var(--sui-spacing);
}
a {
	text-decoration: none;
	color: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
}
input, select, textarea {
	box-sizing: content-box;
	background-color: transparent;
	color: inherit;
	height: auto;
	line-height: normal;
	width: 100%;
	font-size: 1rem;
	font-family: inherit;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
}
textarea {
	resize: none;
	height: 10em;
	line-height: 1.5em;
}
input::placehoder {
	color: inherit;
}
form {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	flex-direction: column;
	color: var(--materialize-color);
}
label {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: nowrap;
	width: 100%;
}
label>div, label>input, label>select, label>textarea {
	display: block;
	height: auto;
	flex-shrink: 0;
}
label>div {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-grow: 1;
}
label>i {
	padding: var(--sui-spacing);
}
input[type="button"], button {
	width: auto;
	padding: var(--sui-spacing);
	background-color: var(--materialize-color-lighten-6);
	cursor: pointer;
	color: inherit;
}
.fab, .far, .fas {
	display: flex;
	justify-content: center;
	align-items: center;
}
.fab:before, .far:before, .fas:before {
	font-size: var(--sui-icon-size);
	min-width: 1em;
	max-width: 1em;
	box-sizing: content-box;
	display: flex;
	justify-content: center;
	align-items: center;
}
@media (max-width: 600px) {
	body {
		overflow-y: scroll;
	}
}