:root {
    --sui-color: #666;
    --sui-color-light-1: #777;
    --sui-color-light-2: #888;
    --sui-color-light-3: #999;
    --sui-color-light-4: #AAA;
    --sui-color-light-5: #EEE;
}

.sui-blue {
    --sui-color: #2196f3;
    --sui-color-light-1: #42a5f5;
    --sui-color-light-2: #64b5f6;
    --sui-color-light-3: #90caf9;
    --sui-color-light-4: #bbdefb;
    --sui-color-light-5: #e3f2fd;
}

.sui-red {
    --sui-color: #f44336;
    --sui-color-light-1: #ef5350;
    --sui-color-light-2: #e57373;
    --sui-color-light-3: #ef9a9a;
    --sui-color-light-4: #ffcdd2;
    --sui-color-light-5: #ffebee;
}

.sui-grass {
    --sui-color: #8bc34a;
    --sui-color-light-1: #9ccc65;
    --sui-color-light-2: #aed581;
    --sui-color-light-3: #c5e1a5;
    --sui-color-light-4: #dcedc8;
    --sui-color-light-5: #f1f8e9;
}
