.sui-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    position: relative;
    margin-bottom: var(--sui-spacing);
}

.sui-row:last-child {
    margin-bottom: 0;
}

.sui-col {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    position: relative;
    margin-right: var(--sui-spacing);
    overflow: visible;
}

.sui-col:last-child {
    margin-right: 0;
}

.sui-u {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    flex-grow: 1;
    overflow: hidden;
    background-color: var(--materialize-color-lighten-5);
}

.sui-row > .sui-u {
    margin-right: var(--sui-spacing);
}

.sui-col > .sui-u {
    margin-bottom: var(--sui-spacing);
}

.sui-u:last-child {
    margin-right: 0;
    margin-bottom: 0;
}

.sui-list {
    display: block;
    padding: var(--sui-spacing);
    overflow-y: scroll;
}

.sui-list > * {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    width: 100%;
    cursor: pointer;
    border-bottom: solid 1px var(--materialize-color-lighten-4);
    transition: background-color var(--sui-transition-time), color var(--sui-transition-time);
}

.sui-list > * > * {
    flex-grow: 1;
    padding: var(--sui-spacing);
}

.sui-list > * > i.material-icons {
    flex-grow: 0;
}

.sui-list > * > [data-loop-delete]:hover {
    background-color: red;
    color: white;
}

.sui-list > *:hover {
    background-color: var(--materialize-color-lighten-4);
}

.sui-block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--materialize-color-lighten-5);
    border-bottom: solid 2px var(--materialize-color);
    color: var(--materialize-color);
    height: 200px;
    width: 200px;
}

.sui-clickable {
    color: var(--materialize-color);
    cursor: pointer;
}

.sui-clickable.sui-clickable.sui-clickable-enabled,
.sui-clickable:hover {
    background-color: var(--materialize-color-lighten-5);
}

.sui-clickable.sui-clickable-disabled {
    background-color: transparent;
    color: var(--materialize-color-lighten-4);
    cursor: default;
}
