.sui-block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--materialize-color-lighten-5);
    border-bottom: solid 2px var(--materialize-color);
    color: var(--materialize-color);
    height: 200px;
    width: 200px;
}

.sui-clickable {
    background-color: transparent;
    cursor: pointer;
}

.sui-clickable:hover {
    background-color: var(--materialize-color-lighten-5);
}
