.sui-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    position: relative;
    margin-bottom: var(--sui-spacing);
}
.sui-row:last-child {
    margin-bottom: 0;
}
.sui-col {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    position: relative;
    margin-right: var(--sui-spacing);
    overflow: visible;
}
.sui-col:last-child {
    margin-right: 0;
}
.sui-u {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    flex-grow: 1;
    overflow: hidden;
    background-color: var(--materialize-color-lighten-5);
}
.sui-row > .sui-u {
    margin-right: var(--sui-spacing);
}
.sui-col > .sui-u {
    margin-bottom: var(--sui-spacing);
}
.sui-u:last-child {
    margin-right: 0;
    margin-bottom: 0;
}
.sui-list {
    display: block;
    padding: var(--sui-spacing);
    overflow-y: scroll;
}
.sui-list > * {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    width: 100%;
    cursor: pointer;
    border-bottom: solid 1px var(--materialize-color-lighten-4);
    transition: background-color var(--sui-transition-time), color var(--sui-transition-time);
}
.sui-list > * > * {
    flex-grow: 1;
    padding: var(--sui-spacing);
}
.sui-list > * > i.material-icons {
    flex-grow: 0;
}
.sui-list > * > [data-loop-delete]:hover {
    background-color: red;
    color: white;
}
.sui-list > *:hover {
    background-color: var(--materialize-color-lighten-4);
}
.sui-clickable {
    color: var(--materialize-color);
    cursor: pointer;
    transition: color var(--sui-transition-time), background-color var(--sui-transition-time);
}
.sui-clickable.sui-clickable-enabled,
.sui-clickable:hover {
    background-color: var(--materialize-color-lighten-5);
}
.sui-clickable.sui-clickable-disabled {
    background-color: transparent;
    color: var(--materialize-color-lighten-4);
    cursor: default;
}
.sui-title-bottom-center,
.sui-title-bottom-left,
.sui-title-bottom-right,
.sui-title-center-left,
.sui-title-center-right,
.sui-title-top-center,
.sui-title-top-left,
.sui-title-top-right {
    position: relative;
    overflow: visible;
}
.sui-title-bottom-center:after,
.sui-title-bottom-left:after,
.sui-title-bottom-right:after,
.sui-title-center-left:after,
.sui-title-center-right:after,
.sui-title-top-center:after,
.sui-title-top-left:after,
.sui-title-top-right:after {
    content: attr(title);
    position: absolute;
    overflow: visible;
    display: flex;
    flex-wrap: nowrap;
    text-transform: capitalize;
    height: 1em;
    opacity: 0;
    transition: opacity var(--sui-transition-time);
    font-size: 0.75rem;
    line-height: 1em;
}
.sui-title-bottom-center.sui-clickable-enabled:after,
.sui-title-bottom-center:hover:after,
.sui-title-bottom-left.sui-clickable-enabled:after,
.sui-title-bottom-left:hover:after,
.sui-title-bottom-right.sui-clickable-enabled:after,
.sui-title-bottom-right:hover:after,
.sui-title-center-left.sui-clickable-enabled:after,
.sui-title-center-left:hover:after,
.sui-title-center-right.sui-clickable-enabled:after,
.sui-title-center-right:hover:after,
.sui-title-top-center.sui-clickable-enabled:after,
.sui-title-top-center:hover:after,
.sui-title-top-left.sui-clickable-enabled:after,
.sui-title-top-left:hover:after,
.sui-title-top-right.sui-clickable-enabled:after,
.sui-title-top-right:hover:after {
    opacity: 1;
}
.sui-title-top-left:after {
    justify-content: flex-start;
    align-items: center;
    bottom: 100%;
    left: 0;
    margin-bottom: 1em;
}
.sui-title-top-center:after {
    justify-content: center;
    align-items: center;
    bottom: 100%;
    left: 0;
    right: 0;
    margin-bottom: 1em;
}
.sui-title-top-right:after {
    justify-content: flex-end;
    align-items: center;
    bottom: 100%;
    right: 0;
    margin-bottom: 1em;
}
.sui-title-center-left:after {
    justify-content: flex-end;
    align-items: center;
    right: 100%;
    top: 50%;
    margin-top: -0.5em;
    margin-right: 1em;
}
.sui-title-center-right:after {
    justify-content: flex-start;
    align-items: center;
    left: 100%;
    top: 50%;
    margin-top: -0.5em;
    margin-left: 1em;
}
.sui-title-bottom-left:after {
    justify-content: flex-start;
    align-items: center;
    top: 100%;
    left: 0;
    margin-top: 1em;
}
.sui-title-bottom-center:after {
    justify-content: center;
    align-items: center;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 1em;
}
.sui-title-bottom-right:after {
    justify-content: flex-end;
    align-items: center;
    top: 100%;
    right: 0;
    margin-top: 1em;
}
@media (max-width: 600px) {
    .sui-clickable:hover {
        background-color: transparent;
    }
    .sui-clickable:active {
        background-color: var(--materialize-color-lighten-5);
    }
}