* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    line-height: 100%;
}
body,
html {
    height: 100%;
    width: 100%;
    background-color: white;
    cursor: default;
    font-family: system-ui;
    color: var(--materialize-color);
    background-color: white;
    overflow: hidden;
}
template {
    display: none !important;
}
table {
    height: 100%;
    width: 100%;
    table-layout: fixed;
}
td {
    position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}
::placeholder {
    opacity: 0.5;
}
::-webkit-scrollbar {
    display: none;
    /* or add it to the track */
}
.material-icons {
    min-width: 1em;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mr {
    margin-right: var(--sui-spacing);
}
.ml {
    margin-left: var(--sui-spacing);
}
.mt {
    margin-top: var(--sui-spacing);
}
.mb {
    margin-bottom: var(--sui-spacing);
}
a {
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
input,
select,
textarea {
    background-color: transparent;
    color: inherit;
    height: 100%;
    width: 100%;
    font-size: 1rem;
    font-family: inherit;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}
textarea {
    resize: none;
    height: 10rem;
    line-height: 1.5em;
}
input::placehoder {
    color: inherit;
}
form {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: column;
    color: var(--materialize-color);
}
form label {
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    cursor: pointer;
    padding-right: var(--sui-spacing);
}
form label > div,
form label > input,
form label > select,
form label > textarea {
    padding: var(--sui-spacing) 0;
    min-height: calc(var(--sui-spacing-double) + 24px);
}
form label > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
form label > i {
    padding: var(--sui-spacing);
}
form input[type="button"],
form button {
    width: auto;
    padding: var(--sui-spacing);
    background-color: var(--materialize-color-lighten-5);
}
.fab,
.far,
.fas {
    min-width: 1em;
    max-width: 1em;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fab:before,
.far:before,
.fas:before {
    font-size: 24px;
}
@media (max-width: 600px) {
    body {
        overflow-y: scroll;
    }
}