* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    line-height: 100%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

body,
html {
    height: 100%;
    width: 100%;
    background-color: white;
    cursor: default;
    font-size: 18px;
    color: var(--materialize-color);
    overflow: hidden;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 999;
    color: inherit;
    text-decoration: none;
    white-space: nowrap;
}

::placeholder {
    color: inherit;
    opacity: 0.5;
    font-size: 100%;
}

::-webkit-scrollbar {
    height: 0;
    width: 0;
    display: none;
}

input,
select,
textarea {
    width: 100%;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    cursor: pointer;
    line-height: 100%;
    text-align: inherit;
    color: var(--materialize-color);
    background-color: transparent;
    overflow: visible;
}

select {
    appearance: none;
    -webkit-appearance: none;
}

select > option {
    background-color: white;
    color: black;
}

textarea {
    min-height: 300px;
    resize: none;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
    display: none;
}

input[type='checkbox'] {
    height: 30px;
    width: 30px;
}

template {
    display: none !important;
}

table {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

form {
    height: 100%;
    width: 100%;
    padding: var(--sui-spacing);
}

form.sui-u {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

form > * {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    border-bottom: solid 1px var(--materialize-color-lighten-3);
    width: 100%;
    padding: var(--sui-spacing);
}

form > *:last-child {
    margin-bottom: 0;
}

button {
    height: 100px;
    width: 100%;
    border-bottom: none;
    background-color: var(--materialize-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 1rem;
}

button > .material-icons {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -0.5em;
}

.material-icons {
    min-width: 1em;
    box-sizing: content-box;
}

.material-icons.ml {
    margin-left: var(--sui-spacing);
}

.material-icons.mr {
    margin-right: var(--sui-spacing);
}

.fa {
    min-width: 1em;
    box-sizing: content-box;
    text-align: center;
}
