.sui-left-top {
    position: fixed;
    top: var(--sui-screen-padding);
    left: var(--sui-screen-padding);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    z-index: 2;
}

.sui-left-middle {
    position: fixed;
    top: var(--sui-screen-padding);
    bottom: var(--sui-screen-padding);
    left: var(--sui-screen-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
    z-index: 2;
}

.sui-left-bottom {
    position: fixed;
    bottom: var(--sui-screen-padding);
    left: var(--sui-screen-padding);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: flex-end;
    z-index: 2;
}

.sui-right-top {
    position: fixed;
    top: var(--sui-screen-padding);
    right: var(--sui-screen-padding);
    z-index: 2;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;
}

.sui-right-middle {
    position: fixed;
    top: var(--sui-screen-padding);
    bottom: var(--sui-screen-padding);
    right: var(--sui-screen-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    z-index: 2;
    text-align: right;
}

.sui-right-bottom {
    position: fixed;
    bottom: var(--sui-screen-padding);
    right: var(--sui-screen-padding);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    z-index: 2;
    text-align: right;
}

.sui-middle-top {
    position: fixed;
    top: var(--sui-screen-padding);
    right: var(--sui-screen-padding);
    left: var(--sui-screen-padding);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    z-index: 1;
}

.sui-middle-middle {
    position: fixed;
    top: var(--sui-screen-padding);
    bottom: var(--sui-screen-padding);
    right: var(--sui-screen-padding);
    left: var(--sui-screen-padding);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 1;
}

.sui-middle-bottom {
    position: fixed;
    bottom: var(--sui-screen-padding);
    right: var(--sui-screen-padding);
    left: var(--sui-screen-padding);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
    z-index: 1;
}
