.sui-top-left {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    z-index: 1000;
}
.sui-center-left {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    z-index: 1000;
}
.sui-bottom-left {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    z-index: 1000;
}
.sui-top-right {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
}
.sui-center-right {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
    z-index: 1000;
    text-align: right;
}
.sui-bottom-right {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    z-index: 1000;
    text-align: right;
}
.sui-top-center {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    z-index: 1000;
}
.sui-bottom-center {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
    z-index: 1000;
}
.sui-bottom-left-half {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 50%;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    align-items: flex-end;
    z-index: 1000;
}
.sui-bottom-right-half {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 50%;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    align-items: flex-end;
    z-index: 1000;
}
.sui-center-center {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 1;
}
.sui-top-left>*,
.sui-center-left>*,
.sui-bottom-left>*,
.sui-top-center>*,
.sui-bottom-center>*,
.sui-top-right>*,
.sui-center-right>*,
.sui-bottom-right>*,
.sui-bottom-left-half>*,
.sui-bottom-right-half>*,
.sui-center-center>* {
    padding: var(--sui-spacing);
}
.sui-belt-grid {
    position: fixed;
    top: 25vh;
    bottom: 25vh;
    right: 0;
    left: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}
.sui-belt-grid>.sui-col:first-child,
.sui-belt-grid>.sui-u:first-child,
.sui-belt-grid>.sui-list:first-child {
    margin-left: var(--sui-spacing);
}
.sui-belt-grid>.sui-col:last-child,
.sui-belt-grid>.sui-u:last-child,
.sui-belt-grid>.sui-list:last-child {
    margin-right: var(--sui-spacing);
}
.sui-belt-center {
    position: fixed;
    top: 25vh;
    bottom: 25vh;
    right: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}
@media (max-width: 600px) {
    .sui-top-left,
    .sui-top-center,
    .sui-top-right,
    .sui-center-left,
    .sui-center-center,
    .sui-center-right,
    .sui-bottom-left,
    .sui-bottom-center,
    .sui-bottom-right {
        position: relative;
        order: 1;
        justify-content: center;
    }
    .sui-belt-center {
        display: block;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}