.sui-top-left {
    position: fixed;
    top: var(--sui-spacing);
    left: var(--sui-spacing);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    z-index: 2;
}

.sui-center-left {
    position: fixed;
    top: var(--sui-spacing);
    bottom: var(--sui-spacing);
    left: var(--sui-spacing);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
    z-index: 2;
}

.sui-bottom-left {
    position: fixed;
    bottom: var(--sui-spacing);
    left: var(--sui-spacing);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: flex-end;
    z-index: 2;
}

.sui-top-right {
    position: fixed;
    top: var(--sui-spacing);
    right: var(--sui-spacing);
    z-index: 2;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;
}

.sui-center-right {
    position: fixed;
    top: var(--sui-spacing);
    bottom: var(--sui-spacing);
    right: var(--sui-spacing);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    z-index: 2;
    text-align: right;
}

.sui-bottom-right {
    position: fixed;
    bottom: var(--sui-spacing);
    right: var(--sui-spacing);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    z-index: 2;
    text-align: right;
}

.sui-top-center {
    position: fixed;
    top: var(--sui-spacing);
    right: var(--sui-spacing);
    left: var(--sui-spacing);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    z-index: 1;
}

.sui-bottom-center {
    position: fixed;
    bottom: var(--sui-spacing);
    right: var(--sui-spacing);
    left: var(--sui-spacing);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
    z-index: 1;
}

.sui-center-center {
    position: fixed;
    top: var(--sui-spacing);
    bottom: var(--sui-spacing);
    right: var(--sui-spacing);
    left: var(--sui-spacing);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 1;
}

.sui-center-belt {
    position: fixed;
    top: 20vh;
    bottom: 20vh;
    right: 0;
    left: 0;
    overflow-x: scroll;
    overflow-y: visible;
    padding-left: var(--sui-spacing);
    border-right: solid var(--sui-spacing) transparent;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.sui-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    position: relative;
    margin-bottom: var(--sui-spacing);
}

.sui-row:last-child {
    margin-bottom: 0;
}

.sui-col {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    position: relative;
    margin-right: var(--sui-spacing);
    overflow: visible;
}

.sui-col:last-child {
    margin-right: 0;
}

.sui-u {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    flex-grow: 1;
    overflow: hidden;
    background-color: var(--materialize-color-lighten-5);
}

.sui-row > .sui-u {
    margin-right: var(--sui-spacing);
}

.sui-col > .sui-u {
    margin-bottom: var(--sui-spacing);
}

.sui-u:last-child {
    margin-right: 0;
    margin-bottom: 0;
}

.sui-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    padding: var(--sui-spacing);
}

.sui-list > * {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    width: 100%;
    padding: var(--sui-spacing);
    cursor: pointer;
    border-bottom: solid 1px var(--materialize-color-lighten-3);
    transition: padding 0.2s;
}

.sui-list > * > * {
    flex-grow: 1;
}

.sui-list > * > i.material-icons {
    flex-grow: 0;
}

.sui-list > *:hover {
    padding-top: calc(var(--sui-spacing) * 3);
    padding-bottom: calc(var(--sui-spacing) * 3);
}
